VOICE_ASSET_MCP_TRANSPORT=stdio
VOICE_ASSET_MCP_LISTEN=127.0.0.1:8090
VOICE_ASSET_SERVER_URL=http://127.0.0.1:8080
VOICE_ASSET_SERVER_TOKEN=
VOICE_ASSET_MCP_HTTP_TOKEN=
VOICE_ASSET_MCP_TLS_CERT_FILE=
VOICE_ASSET_MCP_TLS_KEY_FILE=
VOICE_ASSET_MCP_RATE_LIMIT_PER_MINUTE=120
VOICE_ASSET_MCP_ENABLE_WRITES=false
